body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #002FA7;

    /* Bakgrundsbild */
    background-image: url("https://images.unsplash.com/photo-1524985069026-dd778a71c7b4");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Header (meny ikon) */
header {
    position: absolute;
    top: 20px;
    right: 20px;
}

.meny {
    font-size: 1.5rem;
    cursor: pointer;
    color: #e0e7ff;;
}

/* Centrera allt */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* overlay */
    background-color: rgba(0, 47, 167, 0.7);
    padding: 40px;
    border-radius: 20px;
}

/* Titel */
h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 30px;
    color: #e0e7ff;
}

/* Sökbox */
.search-box {
    display: flex;
}

.search-box input {
    padding: 12px;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 250px;
    border-radius: 8px 0 0 8px;
}

.search-box button {
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    background-color: white;
    color: #002FA7;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.search-box button:hover {
    background-color: #e0e7ff;
    transform: translateY(-2px);
}